# User files.
*.*proj.user
.vs/

# Build artifacts.
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.aps

# Debug artifacts.
/*.pdb/
/pingme.txt

# Python artifacts.
*.pyc

# Unit test artifacts.
/test/scripts/*.dmp
